@{
    Layout = "_Layout";
}

<h2>Enrollment Created Successfully!</h2>
<p>The enrollment has been successfully created.</p>

<a asp-controller="Enrollment" asp-action="AddEnrollment" class="btn btn-primary">Back</a>

